*.db
.kateproject*
*.kdev4
*.pyc
*.log
*.pyproj
.idea/*
.DS_Store
.vscode

venv
.includescache
*.egg-info/*
.pip
_build
bin
build
dist
docs/_build
env
include
lib
logs
*.log
__pycache__
*.mkdocs

MANIFEST
