sloth-ci

sloth-ci.ext.build_email_notifications
sloth-ci.ext.docker_exec
sloth-ci.ext.file_logs
sloth-ci.ext.openvz_exec
sloth-ci.ext.robots_txt
sloth-ci.ext.ssh_exec
sloth-ci.ext.webhooks

sloth-ci.validators.bitbucket
sloth-ci.validators.github
sloth-ci.validators.gitlab